

*{
    box-sizing: border-box;
}

body{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin:0px;
}

.header{
    background-color:rgb(214, 194, 232);
    width: 100%;
    position:relative;
    font-family: 'Indie Flower', cursive;
    top: 0;

}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(76, 44, 108);

}

.linkImage{
    width: 80px;
    padding: 5px;
    margin-left: 5px;

}

.image{
    max-width: 100%;
    border-radius: 50%;
}

.btn-menu{
    display: flex;
    background:none;
    border:none;
    padding: 8px;
    cursor: pointer;
    text-decoration:none;
}
#js-button-mini:active{
border:none;

}
.nav{
    display:none;
}

.nav-small{
    background-color: rgba(151, 20, 198, 0.74);
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    position:absolute;
    width: 100%;
    top:100%;
}

.nav-small-link{
    text-decoration: none;
    color:rgb(214, 194, 232);
    width: 100%;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-right: 8px;
}

.nav-small-link:hover{
    color: rgb(255, 255, 255);
}

.nav-small-item {
    border-bottom: 1px solid rgb(214, 194, 232);
}
.nav-small-item :last-child{
    border-bottom: none;
}
.hide {
     display: none;
    }

@media screen and (min-width:580px){

    .header {
        position: relative;

        background-color:rgb(red);
    }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
    }
    .linkImage{
        width: 140px;
        padding: 10px;
    }
    .btn-menu{
        display: none;
     }

    .nav{

        display:inline-flex;
        flex-direction: row;
        padding:0.5px;
        list-style: none;
        margin-bottom: 15px;
        margin-right: 15px;
        padding: 0;
    }
    .nav li{
        margin-right: 8px;
        align-content:flex-end;
        align-items: flex-start;
    }
    .nav li a{
        text-decoration: none;
        font-size: 22px;
        padding:10px;
    }
    .nav li a:hover{
        color: rgb(255, 255, 255);
    }
}
